/* ********** Entry styles ******** */

:root {
  /* typography */
  --font-xsmall: 0.8em;
  --font-small: 1em;
  --font-medium: 1.25em;
  --font-large: 1.563em;
  --font-xlarge: 1.953em;
  --font-xxlarge: 2.441em;
  --font-xxxlarge: 3.052em;
  --font-largest: 6em;
  /* spacings */
  --spacing-xsmall: 0.618rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.618rem;
  --spacing-large: 2.618rem;
  --spacing-xlarge: 4.236rem;
  --spacing-xxlarge: 6.854rem;
  --spacing-xxxlarge: 11.089rem;
  /* font fam */
  --font-family-primary: "Boska", serif;
  --font-family-secondary: "General Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  :root {
    /* Typography */
    --font-xsmall: 0.75em;
    --font-small: 1em;
    --font-medium: 1.333em;
    --font-large: 1.777em;
    --font-xlarge: 2.369em;
    --font-xxlarge: 3.157em;
    --font-xxxlarge: 4.209em;
    --font-largest: 6em;
  }
  body {
    font-size: 1.1rem;
  }
}
body {
  font-size: 0.9rem;
  background-color: #fbecc4;
  font-family: var(--font-family_primary);
}
h3 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-small);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}

p {
  max-width: 62ch;
}
header {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-primary);
  padding-bottom: var(--spacing-medium);
}
button:hover {
  /* animation-name: hover;
  animation-duration: 0.2s; */
  scale: 1.05;
  transition: 0.25s all;
  box-shadow: 1px 2px 6px black;
}

/* *****Typography****** */
/* fs stands for font-size */
.fs_xsmall {
  font-size: var(--font-xsmall);
  line-height: 1.4;
}
.fs_small {
  font-size: var(--font-small);
  line-height: 1.4;
}
.fs_medium {
  font-size: var(--font-medium);
  line-height: 1.3;
}
.fs_large {
  font-size: var(--font-large);
  line-height: 1.1;
}
.fs_xlarge {
  font-size: var(--font-xlarge);
  line-height: 1.1;
}
.fs_xxlarge {
  font-size: var(--font-xxlarge);
  line-height: 1;
}
.fs_3xlarge {
  font-size: var(--font-xxxlarge);
  line-height: 1;
}
.fs_largest {
  font-size: var(--font-largest);
  line-height: 1;
}

/* *********Left ASIDE Starts******** */

.side_bar {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  background-color: #d9d9d9;
  width: fit-content;
  height: fit-content;
  /* position: fixed; */
}
.side_bar div:first-of-type {
  width: fit-content;
}
.filter_house {
  padding-top: var(--spacing-xsmall);
}
.button_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}
.button_container > * {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.2rem;
  margin: 0.25em;
}

/* ********* Left ASIDE ends******** */

/* ***Right ASIDE starts */
.stats_bar {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  background-color: #d9d9d9;
  width: fit-content;
  justify-self: right;
  height: fit-content;
  position: fixed;
}
.stats_bar div:first-of-type {
  width: fit-content;
}
.stats_bar h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-large);
}
.stats_bar li {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding-top: var(--spacing-xsmall);
  opacity: 0.8;
}
.students_stats,
.house_stats h3 {
  padding-top: var(--spacing-small);
}
.searchsort_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.search_bar {
  padding: 0.25em;
  text-align: center;
}
.sort_bar {
  text-align: center;
  padding: 0.25em;
}
/* ***Right ASIDE ends */

/* *** MAIN GRID STARTS */
.student_grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}
section {
  width: 100%;
  margin: auto;
}
/* **MAIN GRID ENDS */

/* *** STUDENT CARD STARTS ***** */
/* #single_student {
  border: solid 4px hotpink;
} */
/* ***STUDENT CARD ENDS */

@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
