/* ********** Entry styles ******** */

:root {
  /* typography */
  --font-xsmall: 0.8em;
  --font-small: 1em;
  --font-medium: 1.25em;
  --font-large: 1.563em;
  --font-xlarge: 1.953em;
  --font-xxlarge: 2.441em;
  --font-xxxlarge: 3.052em;
  --font-largest: 6em;
  /* spacings */
  --spacing-xsmall: 0.618rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.618rem;
  --spacing-large: 2.618rem;
  --spacing-xlarge: 4.236rem;
  --spacing-xxlarge: 6.854rem;
  --spacing-xxxlarge: 11.089rem;
  /* font fam */
  --font-family-primary: "Boska", serif;
  --font-family-secondary: "General Sans", sans-serif;

  /* house colors */
  --gryffindor: #d3a625;
  --slytherin: #2a623d;
  --hufflepuff: #ffed86;
  --ravenclaw: #222f5b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
.main_wrapper {
  max-width: 1440px;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  :root {
    /* Typography */
    --font-xsmall: 0.75em;
    --font-small: 1em;
    --font-medium: 1.333em;
    --font-large: 1.777em;
    --font-xlarge: 2.369em;
    --font-xxlarge: 3.157em;
    --font-xxxlarge: 4.209em;
    --font-largest: 6em;
  }
  body {
    font-size: 1.1rem;
  }
}
body {
  font-size: 0.9rem;
  /*  background: linear-gradient(270deg, rgba(255, 166, 158, 1), rgba(167, 29, 49, 1)); */
  font-family: var(--font-family_primary);
  overflow-x: hidden;
  width: 100%;
  color: #000;
  padding-bottom: 2em;
  background-color: #d8896b;
}
h3 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-small);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}

p {
  max-width: 62ch;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  padding-bottom: var(--spacing-medium);
  padding-top: var(--spacing-medium);
  background-color: #f2a65a;
  margin-bottom: 1em;
}
button:hover {
  color: #000;
  transform: translateX(1.5px);
  cursor: pointer;
  scale: 1.025;
  transition: 0.2s all ease-in-out;
  box-shadow: 1px 2px 6px black;
}

.nothing_to_show {
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: var(--font-xxlarge);
}

/* *****Typography****** */
/* fs stands for font-size */
.fs_xsmall {
  font-size: var(--font-xsmall);
  line-height: 1.4;
}
.fs_small {
  font-size: var(--font-small);
  line-height: 1.4;
}
.fs_medium {
  font-size: var(--font-medium);
  line-height: 1.3;
}
.fs_large {
  font-size: var(--font-large);
  line-height: 1.1;
}
.fs_xlarge {
  font-size: var(--font-xlarge);
  line-height: 1.1;
}
.fs_xxlarge {
  font-size: var(--font-xxlarge);
  line-height: 1;
}
.fs_3xlarge {
  font-size: var(--font-xxxlarge);
  line-height: 1;
}
.fs_largest {
  font-size: var(--font-largest);
  line-height: 1;
}

/* *********Left ASIDE Starts******** */

.side_bar {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  background: linear-gradient(360deg, rgba(184, 198, 219, 1), rgba(245, 247, 250, 1));
  width: fit-content;
  height: fit-content;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 12px;
}
.side_bar div:first-of-type {
  width: fit-content;
}
.filter_house {
  padding-top: var(--spacing-xsmall);
}
.button_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}
.button_container > * {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.2rem;
  margin: 0.25em;
}
.disp_all_btn {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.25em;
  text-align: center;
  border: 2px solid black;
  background-color: #f2a65a;
}

/* .sort_bar button.sortby {
  text-decoration: underline;
}

.sort_bar button.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

.sort_bar button.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}
.sort_bar span {
  font-family: var(--font-family-secondary);
  font-size: var(--font-small);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
} */

/* ********* Left ASIDE ends******** */

/* ***Right ASIDE starts */
.stats_bar {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  background: linear-gradient(360deg, rgba(184, 198, 219, 1), rgba(245, 247, 250, 1));
  width: fit-content;
  justify-self: right;
  height: fit-content;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 12px;
}
.stats_bar div:first-of-type {
  width: fit-content;
}
.stats_bar h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-large);
}
.stats_bar li {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding-top: var(--spacing-xsmall);
  opacity: 0.8;
}
.displayed_now h3 {
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}
.students_stats,
.house_stats h3 {
  padding-top: var(--spacing-small);
}
.searchsort_container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.search_bar,
#sort {
  padding: 0.25em;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(245, 247, 250, 1);
}
.search_bar:focus {
  border: 1.5px solid lightblue;
  border-radius: 4px;
}
#sort:focus {
  border: 1.5px solid lightblue;
  border-radius: 4px;
}

.search_wrapper label {
  font-family: var(--font-family-secondary);
  font-weight: 600;
  font-size: var(--font-xsmall);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.search_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* ***Right ASIDE ends */

/* *** MAIN GRID STARTS */
.student_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}
@media only screen and (max-width: 560px) {
  main {
    grid-template-columns: 1fr;
  }
  .side_bar {
    position: relative;
    width: 100%;
    border-radius: 20px;
  }
  .stats_bar {
    position: relative;
    width: 100%;
    border-radius: 20px;
  }
}
section {
  width: 100%;
  margin: auto;
}

/* **MAIN GRID ENDS */

/* *** STUDENT CARD STARTS ***** */
.card_wrapper {
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-small);
  border: solid 2.5px black;
  border-radius: 20px;
  height: 100%;
}
/* .card_wrapper:hover {
  scale: 1.02;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.6);
} */
.student_details {
  font-family: var(--font-family-secondary);
}
#full_name {
  padding-bottom: var(--spacing-xsmall);
  text-align: center;
  font-family: var(--font-family-primary);
  font-weight: 600;
}
.slytherin {
  width: 100%;
}
.slytherin_modal {
  min-width: 50%;
  max-width: 55%;
}
.hufflepuff {
  width: 50%;
}
.hufflepuff_modal {
  max-width: 35%;
  min-width: 30%;
}
.gryffindor {
  width: 50%;
}
.gryffindor_modal {
  max-width: 35%;
  min-width: 30%;
}
.ravenclaw {
  width: 50%;
}
.ravenclaw_modal {
  max-width: 30%;
  min-width: 25%;
}
.crest_wrapper {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xsmall);
}
.modal_crest_wrapper {
  padding: var(--spacing-xsmall);
  display: flex;
  justify-content: center;
}

#open_popup {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.25em;
  width: 66%;
  justify-content: center;
}
.more_info_wrapper {
  display: flex;
  justify-content: center;
}
/* ***STUDENT CARD ENDS */

/* ***POP UP MODAL BEGINS */
/* [data-prefect="true"] {
  position: relative;
}
[data-prefect="true"]::after {
  position: absolute;
  content: "";
  top: -600%;
  left: 75%;
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(-100%, 0);
  background: url("./imagesHogwarts/prefect-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
} */
.inquisitor_image {
  width: 3.5rem;
}
.prefect_badge {
  width: 3.5rem;
}
.badge_wrapper {
  display: flex;
  gap: 0.5em;
}

.hide {
  visibility: hidden;
}
.dis_none {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student_modal {
  max-width: 66vw;
  min-width: 50vw;
  box-shadow: (1px 1px 10px #333);
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
  border: 5px solid green;
}
button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.student_modal h1 {
  margin-top: 0;
}
#modal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#modal_buttons button {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.2rem;
  margin: 0.25em;
  width: 100%;
}
@media only screen and (max-width: 469px) {
  #modal_buttons {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  #modal_buttons button {
    width: 100%;
    padding: 0.75rem;
    margin: 0.3rem;
  }
}
.modal_prefect_wrapper {
  display: flex;
  justify-content: flex-end;
}

/* ***POP UP MODAL ENDS */ /* ****** REMOVE A OR B POP UP */
.dialog {
  max-width: 66vw;
  min-width: 50vw;
  box-shadow: (1px 1px 10px #333);
  border-radius: 12px;
  padding: 2em;
  background-color: rgb(255, 217, 46);
  position: relative;
}
.dialog h1 {
  padding-bottom: var(--spacing-small);
}
#removea,
#removeb {
  font-family: var(--font-family-primary);
  font-weight: 600;
  padding: 0.2rem;
  margin: 0.25em;
}
/* *** REMOVE A OR B POP UP ENDS */

/*********** Expell animation *************/
.expellmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expell_message {
  max-width: 66vw;
  min-width: 50vw;
  box-shadow: (1px 1px 10px #333);
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
  border: 3px solid red;
  z-index: 200;
  color: red;
}
.visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

@keyframes movein {
  from {
    left: -20px;
  }
  to {
    left: 100px;
  }
}

@keyframes moveout {
  from {
    left: 100px;
  }
  to {
    left: -20px;
  }
}

/*#notif {
  left: 10px;
  opacity: 0;
}*/

@keyframes movein {
  from {
    left: -200px;
  }
  to {
    left: 10px;
  }
}

@keyframes moveout {
  from {
    left: 10px;
  }
  to {
    left: -200px;
  }
}

@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
/* *******HACKING SCREEEN */
.hack_dialog {
  width: 90vw;
  height: 90vh;
  box-shadow: (1px 1px 10px #333);
  border-radius: 12px;
  padding: 2em;
  /*   background: linear-gradient(270deg, rgba(44, 62, 80, 1), rgba(0, 0, 0, 1)); */
  background-image: url("./imagesHogwarts/hacking.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  z-index: 1000;
  font-family: "Boska", serif;
  font-size: var(--font-medium);
}

.hack_dialog h1 {
  padding-bottom: var(--spacing-small);
  color: #fff;
  font-family: "Sharpie", sans-serif;
  font-size: 10rem;
}
.text_shadow {
  text-shadow: 2px 2px 6px #166d3b;
}

footer {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family-secondary);
}
